.after-hero__list {
    display: flex;
    margin: -15px;
}
.after-hero__item {
    margin: 15px;
    flex-basis: calc(100% / 4 - 30px)
}

.after-hero__conteiner {
    width: 270px;
    height: 120px;
    background-color: var(--after-hero-icon-background-color);
    border-radius: 4px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.after-hero__subtitle {
    margin-top: 30px;
    @include text (14px, 1.14, 700, 0.03em);
    text-transform: uppercase;
    color:var(--header-color);
}
.after-hero__text {
    margin-top: 10px;
    @include text (14px, 1.71, null, 0.03em);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-color);
}